body {
	background: white;
	text-align: center;
	font-family: sans-serif;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 0.7px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: linen;
  text-align: center;
  padding: 8px;
}

button {
	border: 0.7px solid #dddddd;
	text-align: center;
	margin: 10px;
	padding: 8px;

}
